[submodule ".emacs.d/themes/doom-theme"]
	path = .emacs.d/themes/doom-theme
	url = https://github.com/hlissner/emacs-doom-theme
[submodule ".emacs.d/tide"]
	path = .emacs.d/tide
	url = https://github.com/ananthakumaran/tide.git
