# Non-dotfiles
/[^.]*

# Emacs cruft
.#*
#*
*~

# Unneeded

/.ICAClient/
/.Skype/
/.Xauthority
/.adobe/
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.cabal/
/.cache/
/.config/
/.dbus/
/.dropbox/
/.emacs-places
/.emacs.d/
/.emacs.old
/.esd_auth
/.fehbg
/.ghc/
/.gitconfig
/.gnome/
/.gstreamer-0.10/
/.gtk-bookmarks
/.gtkrc-2.0
/.gtkrc-2.0.bak
/.httpie/
/.ido.last
/.ipython/
/.kde4/
/.lastpass/
/.lesshst
/.local/
/.macromedia/
/.mozilla/
/.pip/
/.pki/
/.python_history
/.recently-used
/.smex-items
/.ssh/
/.ssr/
/.virtualenvs/
/.wicd/

# But allow these explicitly

!.config/fish/config.fish
!.config/awesome/rc.lua
!.emacs.d/init.el