# Non-dotfiles
/[^.]*

#Dotfiles that change a lot
*_history

# Emacs cruft
.#*
#*
*~

# Unneeded

/.adobe/
/.atom
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.bzr.log
/.cabal/
/.cache/
/.ccache/
/.config/
/.cr3/
/.dbus/
/.dropbox/
/.dropbox-dist/
/.dropbox-master/
/.dropbox-work/
/.emacs.d/
/.emacs.old
/.emacs-places
/.erlang.cookie
/.esd_auth
/.fehbg
/.gem/
/.ghc/
/.gimp-2.8/
/.gitconfig
/.gnome/
/.gnupg/
/.gstreamer-0.10/
/.gtk-bookmarks
/.gtkrc-2.0
/.gtkrc-2.0.bak
/.httpie/
/.ICAClient/
/.IdeaIC13/
/.ido.last
/.ipython/
/.java/
/.kde4/
/.lastpass/
/.lesshst
/.local/
/.m2/
/.macromedia/
/.mozilla/
/.netbeans/
/.node-gyp/
/.npm/
/.pip/
/.pki/
/.pylint.d/
/.pypirc
/.python_history
/.rbenv
/.recentf
/.recently-used
/.rvm/
/.Skype/
/.smex-items
/.ssh/
/.ssr/
/.thumbnails/
/.virtualenvs/
/.wicd/
/.Xauthority
/.zlogin

# But allow these explicitly

!.config/fish/config.fish
!.config/awesome/rc.lua
!.emacs.d/init.el
!.config/fontconfig/fonts.conf
!.config/compton/conf
